<!-- Footer -->
<footer class="mt-10 mb-[-14px] h-14 flex items-center justify-between  px-6 sm:px-8 transition-colors duration-300 w-full shadow-sm relative z-24 border-t border-gray-200 dark:border-gray-700">
  <!-- Left side: Copyright -->
  <div class="flex items-center space-x-3 sm:space-x-4">
    <span class="text-theme-bodycolor dark:text-themedark-bodycolor font-medium text-xs sm:text-sm md:text-base">
      Copyright &copy; {{ currentYear }} 
      <a href="javascript:;" class="font-semibold hover:text-primary-500 dark:hover:text-primary-500 transition-all duration-300">HelpDesk</a>.
    </span>
  </div>
  
  <!-- Right side: Version and Social Links -->
  <div class="flex items-center space-x-3 sm:space-x-5">
    <span class="text-theme-bodycolor dark:text-themedark-bodycolor font-normal text-xs sm:text-sm md:text-base">
      <b>{{ 'Version' | localize }}</b> {{ versionText }}
    </span>
    <a href="https://github.com" target="_blank" class="p-2 hover:bg-gray-200 dark:hover:bg-gray-600 rounded-full hover:scale-125 transition-all duration-300" aria-label="GitHub sahifamizga o'tish">
      <i data-feather="github" class="h-5 w-5 sm:h-6 sm:w-6 text-theme-bodycolor dark:text-themedark-bodycolor"></i>
    </a>
    <a href="https://twitter.com" target="_blank" class="p-2 hover:bg-gray-200 dark:hover:bg-gray-600 rounded-full hover:scale-125 transition-all duration-300" aria-label="Twitter sahifamizga o'tish">
      <i data-feather="twitter" class="h-5 w-5 sm:h-6 sm:w-6 text-theme-bodycolor dark:text-themedark-bodycolor"></i>
    </a>
  </div>
</footer>